html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body { 
    background-color: rgb(255, 58, 58);
    margin: 0;
    height: 86%;
}

header {
    background-color: rgb(84, 103, 249);;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    padding: 0;
    box-shadow: 0px 2.5px rgba(0, 0, 0, 0.469);
}

.burger-bar {
    position: relative;
    right: 18vi;
    width: 3vi;
    height: 3vi;
    border: none;
    background-color: rgb(208, 208, 208);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.635);
}

.burger-bar:hover{ 
    transform: scale(1.05);
}

.burger-bar > img {
    width: 100%;
    height: 100%;
}

header > h1 {
    font-family: itim, sans-serif;
    font-size:50px;
    margin-left: 3vi;
}

.espacador {
    width: 7vi;
    height: 1vi;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.menu {
    position: relative;
    background-color: rgb(84, 103, 249);;
    width: 15vw;
    height: 99.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: 'itim', cursive;
    box-shadow: 3px 0px rgba(0, 0, 0, 0.382);
}

.menu > h1 {
    height: 1vi;
}

.menu > h1:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.conteudo {
    background-color:rgb(110, 5, 214) ;
    width: 60vw;
    margin: 1vi 3vi 0 3vi;
    border-radius: 1vi;
    box-shadow: -3px 3px rgba(0, 0, 0, 0.382);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.acoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4vi;
}

#pesquisa {
    width: 12vw;
    height: 3vh;
    border: none;
    border-radius: 0.5vi;
}

#pesquisa:focus {
    outline: none;
}

#tipo {
    width: 6vw;
    height: 3vh;
    border: none;
    border-radius: 0.5vi;
}

#adicionar {
    display: flex;
    align-items: center;
    img {
        padding: 0 0.5vi 0.1vi 0;

    }
}

.pokemons {
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 95%;
    height: 83.6%;
    overflow-y: auto;
    border-radius: 1vi;
    padding: 1vi;
}

.pokemons::-webkit-scrollbar-button {
    display: none;
}

.pokemon {
    cursor: pointer;
    display: flex;
    background-color: rgb(255, 222, 0);
    height: 7vh;
    width: 97%;
    align-items: center;
    justify-content: space-between;
    border-radius: 1vi;
    margin-bottom: 1vi;
    h1 {
        padding-left: 1vi;
    }
    
    button {
        border: none;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5vi;
        cursor: pointer;
        margin-right: 3%;
        img {
            padding-top: 0.2vi;
            width: 100%;
            height: 100%;
        }
    }
    button:active {
        transform: scale(0.92);
    }
    img:active{
        transform: scale(0.95);
    }
}

.Botaodeletar{
    background-color: rgb(255, 0, 0);
    color: white;
}
.Botaodeletar:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}
.Botaodeletar:active{
    transform: scale(0.95);
}

.pokemon:active{
    transform:scale(0.98);
}

.pokemon:hover {
    background-color: rgb(255, 255, 0);
}

.descricao {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(84, 103, 249);
    width: 18vw;
    height: 97.5%;
    margin-top: 1vi;
    border-radius: 1vi;
    margin-right: 1vi;
    h1 {
        font-size: medium;
    }
}

.fundoModal {
    display: none;
    background-color: rgba(0, 0, 0, 0.21);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.modalAdicionarPoke {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 13vi;
    width: 30vw;
    height: 55vh;
    
}

.modalCima {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
}

.modalCima > div {
    width: 5vi;
}

.conteudoModal {
    padding-bottom: 25px;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}