html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body { 
    background-color: rgb(255, 58, 58);
    margin: 0;
    height: 86%;
}

header {
    background-color: rgb(84, 103, 249);;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    padding: 0;
    box-shadow: 0px 2.5px rgba(0, 0, 0, 0.469);
}

header > h1 {
    font-family: itim, sans-serif;
    font-size:50px;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.menu {
    position: relative;
    background-color: rgb(84, 103, 249);;
    width: 15vw;
    height: 99.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: 'itim', cursive;
    box-shadow: 3px 0px rgba(0, 0, 0, 0.382);
}

.abaPokemon {
    margin-top:2vi;
}

.menu > button {
    display: flex;
    height: 4vi;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vi;
    border: none;
    border-radius: 1vi;
    background-color: rgb(130, 176, 246);
    h1 {
        font-family: 'itim', cursive;
        font-size: 2.5vi;
    }
}

.menu > button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.menu > button:active {
    transform: scale(0.95);
}

.conteudo {
    background-color:rgb(110, 5, 214) ;
    width: 60vw;
    margin: 1vi 3vi 0 3vi;
    border-radius: 1vi;
    box-shadow: -3px 3px rgba(0, 0, 0, 0.382);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Hspacer {
    width: 10vi;
}

.acoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4vi;
}

#adicionar {
    position: relative;
    left: 5vi;
    display: flex;
    align-items: center;
    margin-right:2vi;
    border: none;
    border-radius: 0.5vi;
    background-color: rgb(237, 238, 238);
    img {
        padding: 0 0.5vi 0.1vi 0;
    }
}
#adicionar:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#adicionar:active {
    transform: scale(0.95);
}

.pokemons {
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 95%;
    height: 83.6%;
    overflow-y: auto;
    border-radius: 1vi;
    padding: 1vi;
}

.pokemons::-webkit-scrollbar-button {
    display: none;
}

.pokemon {
    cursor: pointer;
    display: flex;
    background-color: rgb(255, 222, 0);
    height: 7vh;
    width: 99%;
    align-items: center;
    justify-content: space-between;
    border-radius: 1vi;
    margin-bottom: 1vi;
    h1 {
        padding-left: 1vi;
    }
    
    button {
        border: none;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5vi;
        cursor: pointer;
        margin-right: 3%;
        img {
            padding-top: 0.2vi;
            width: 100%;
            height: 100%;
        }
    }
    button:active {
        transform: scale(0.92);
    }
    img:active{
        transform: scale(0.95);
    }
}

.Botaodeletar:hover{
    background-color: rgb(255, 0, 0);
    img {
        filter: invert(100%);
    }
}
.Botaodeletar:active{
    transform: scale(0.95);
}
.pokemon:hover {
    background-color: rgb(255, 255, 0);
}

.descricaoPokemon {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(84, 103, 249);
    width: 18vw;
    height: 97.5%;
    margin-top: 1vi;
    border-radius: 1vi;
    margin-right: 1vi;
}

.nomePoke {
    margin-top:2vi;
}

.nomePoke, .forcaPoke, .resistenciaPoke, .velocidadePoke, .pesoPoke, .shynePoke, .nivelPoke {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 1vi;
    margin-left: 1vi;
    label {
        font-size: x-large;
    }
    input {
        border:none;
        border-radius: 0.3vi;
        margin-left:0.2vi;
        margin-top:0.2vi;
    }
    input:focus {
        outline: none;
    }
}

.forcaPoke, .resistenciaPoke, .velocidadePoke, .pesoPoke, .nivelPoke {
    input {
        width: 10%;
    }
}

.treinadorPoke {
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    margin-bottom: 1vi;
    margin-left: 1vi;
    label {
        font-size: x-large;
    }
    input {
        border:none;
        border-radius: 0.3vi;
        margin-left:0.2vi;
        margin-top:0.2vi;
        width: 50%;
    }
    input:focus {
        outline: none;
    }
}

.descricaoTreinador {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(84, 103, 249);
    width: 18vw;
    height: 97.5%;
    margin-top: 1vi;
    border-radius: 1vi;
    margin-right: 1vi;
    h1 {
        font-size: medium;
    }
}

.divIdTreinador {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 1vi;
    margin-left: 1.2vi;
    margin-top: 0.5vi;
    h1 {
        font-size: 1.3vi;
    }
    label {
        background-color: #e1e1e1;
        text-align: center;
        font-weight: bold;
        font-size: 1.3vi;
        margin-left:0.5vi;
        width: 2vi;
        border-radius: 0.5vi;
    }
}

.nomeTreinador, .generoTreinador, .cpfTreinador {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 1vi;
    margin-left: 1.2vi;
    label {
        font-size: x-large;
    }
    input {
        border:none;
        border-radius: 0.3vi;
        margin-left:0.5vi;
        margin-top:0.2vi;
    }
    input:focus {
        outline: none;
    }
}

#editarPokemon,#editarTreinador {
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    background-color: rgb(229, 228, 228);
    border-radius: 0.5vi;
    cursor: pointer;
    width: 6.5vw;
    height: 2.5vw;
    font-size: large;
    img {
        width: 2vi;
        height: 2vi;
        margin-right: 0.5vi;
    }
}

#editarPokemon:hover, #editarTreinador:hover{
    transform: scale(1.05);
}

#editarPokemon:active, #editarTreinador:active{
    transform: scale(0.95);
}

.descricaobox{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.fundoModal {
    display: none;
    background-color: rgba(0, 0, 0, 0.21);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.modalAdicionarPoke, .modalAdicionarTreiandor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 13vi;
    width: 30vw;
    height: 55vh;
    
}

.modalCima {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
}

.modalCima > div {
    width: 5vi;
}

.conteudoModal {
    padding-bottom: 25px;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
